@font-face {
    font-family: 'LuloCleanBold';
    src: url('/fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --color1: #ae9a64;
    --color2: #323232;
    --color3: #FFFFFF;
    --color4: #28a745;
    --color5: #c82b2b;
    --color6: #FFB936;
    --color7: #EC3D08;
    --color8: #f7f7f7;
}
body {
    margin: 0;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #af9b62;
    padding: 20px 50px;
    font-size: 10.5px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease;
    z-index: 3;
    height: 30px;
}

/* Estilos del logo y nombre de la web */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    /* Ajusta el tamaño del logo según tus preferencias */
}

.logo .site-name {
    font-size: 12px;
    font-family: 'LuloCleanBold';
    letter-spacing: -0.1rem;
    color: #333333;
    margin-left: 10px;
    /* Espacio entre el logo y el nombre */
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}



.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    gap: 0.6rem;
}

.navbar ul li {
    margin-right: 23px;
    font-family: 'LuloCleanBold';
    font-size: 10px;
    max-width: 640px;
}

.navbar ul li a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ffffff;
}

.login a {
    color: #333333;
    text-decoration: none;
    font-family: 'LuloCleanBold';
    font-size: 0.6rem;
    margin-right: 10rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.login a:hover {
    color: var(--color3);
}

.espacio {
    background-color: rgb(49, 49, 49);
    padding: 5.5px 50px;
    font-size: 15px;
    font-family: 'Georgia', 'Palatino', 'Book Antiqua', serif;
    color: var(--color1);
    position: fixed;
    width: 100%;
    top: 62px;
    z-index: 3;
    text-align: center;
}

.espacio a {
    text-decoration: none;
    color: var(--color1);
}

.espacio span {
    margin-right: 5rem;
}



.about-us {
    background-color: var(--color8);
    padding: 40px;
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center;
    height: 47rem;

}

.text-section h2 {
    color: #c82b2b;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'LuloCleanBold';
}

.text-section h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #2c2c2c;
    font-family: 'LuloCleanBold';
}

.text-section p {
    font-size: 18px;
    color: #5f5f5f;
    margin-bottom: 40px;
    max-width: 700px;
    font-family: 'Georgia', 'Palatino', 'Book Antiqua', serif;
}

.images-section {
    display: grid;
    gap: 10px;
}

.burger-image {
    width: 270px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;

}


.burger-image2 {
    width: 270px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.burger-image3 {
    grid-row: 1 / 3;
    /* Ocupa las dos filas */
    grid-column: 2 / 3;
    /* Segunda columna */
    width: 300px;
    /* Ajusta este tamaño según tus preferencias */
    height: 410px;
    /* Ajusta según el contenido */
    border-radius: 10px;
    object-fit: cover;
}

.features {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.feature-item {
    text-align: center right;
    font-size: 16px;
    margin-top: -4.5rem;
}


.green-circle {
    background-color: #28a745;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: left;
    align-items: center;

}


.descrip {
    color: #323232;
    font-family: 'Georgia', 'Palatino', 'Book Antiqua', serif;
}


.image-contact {
    position: relative;
    width: 100%;
    height: 35rem;
}

.image-contact video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    background: rgba(0, 0, 0, 0.733); /* Capa oscura semi-transparente */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Asegúrate de que esté sobre la imagen */
}

.text-contact{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    color: var(--color2);
    z-index: 2;
    top: 20%;
    left:33%;
    margin: 100px;
    color: var(--color3);
    font-family: 'LuloCleanBold';
    text-align: center;
}
.text-contact i{
    margin: 16px;
    font-size: 44px;
}
.link-contact{
    margin-top: -20px;
}
.link-contact a{
    text-decoration: none;
    margin: 10px;
    color: var(--color3);
    font-size: 15px;
    transition: 0.3s ease;
}
.link-contact a:hover{
    color: var(--color5);
}



.servicios {
    padding: 50px 20px;
    text-align: center;
    height: 45rem;
    
}

.text-servicio {
    color: var(--color2);
}

.text-servicio h1 {
    font-family: 'LuloCleanBold';
    font-size: 40px;
}

.text-servicio p {
    max-width: 850px;
    margin: 0 auto;
    /* Centra el párrafo horizontalmente */
    padding: 30px;
    text-align: center;
    /* Centra el texto dentro del párrafo */
}

.container-servicio {
    display: flex;
    margin: 0px 140px;
    gap: 10px;
    color: var(--color2);
}

.caja {
    background-color: #FFFFFF;
    margin: 20px;
    padding: 60px;
    flex: 1;
    box-sizing: border-box;
    margin-top: -10px;
}

.caja h3 {
    font-family: 'LuloCleanBold';
    font-size: 15px;
}

.btn-servicio {
    border: 1px solid black;
    background-color: transparent;
    padding: 15px;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn-servicio:hover {
    background-color: red;
    border: none;
    color: white;
}

.caja-icono {
    background-color: #FFFFFF;
    padding: 50px;
    margin: 20px;
    transition: 0.6s ease;
    color: red;
    box-shadow: 0 10px 10px rgb(196, 188, 174);
}

.caja-icono:hover {
    background-color: red;
}

.caja-icono:hover i {
    color: white;
}




.testi-section {
    text-align: center;
    height: 100%;
    background-color: var(--color8);
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    padding: 40px 100px 0px;
    font-family: 'LuloCleanBold';
    text-align: center;
}
.testi-section p{
    color: var(--color2);
    max-width: 550px;
    margin: 0px auto;
}

.testi {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
}

.conteiner {
    padding: 30px;
    margin: 60px;
    display: flex;
    gap: 50px;
    max-width: 550px;
    margin-top: 20px;
    box-shadow: 0 10px 10px rgb(196, 188, 174);
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.name h2 {
    font-size: 20px;
    margin: 10px 0 0;
    color: var(--color1);
    font-family: 'LuloCleanBold';
    color: var(--color2);
}

.image-testi {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.descripcion-testi {
    border-left: 4px solid var(--color7);
    padding: 10px;
}

.descripcion-testi p {
    margin: 5px 0;
    color: var(--color2);
}




.footer {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('galery/4.png');
    height: 65%;
    background-repeat: no-repeat;
    background-size: cover;
    /* Ajusta la imagen de fondo para que cubra el área */
    color: white;
    overflow: hidden;
    /* Evita que el contenido salga del footer */
}

/* Capa de color encima del fondo */
.footer .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 29, 0.904);
    /* Color y opacidad de la capa */
    z-index: 1;
    /* Ubica la capa encima de la imagen de fondo */
}

.text-footer {
    position: relative;
    z-index: 2;
    /* Coloca el contenido sobre la capa */
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px;
}

.text-footer h1 {
    font-weight: bold;
    font-size: 20px;
}

.contac a {
    text-decoration: none;
    color: #ffffffb6;
    /* Cambia el color del texto para que sea visible sobre el fondo oscuro */
    transition: color 0.3s ease;
}

.contac a:hover {
    color: #FFFFFF;
}


.title-footer-logo {
    display: flex;
    padding: 0px 70px;
    margin-top: -26px;
    line-height: 30px;
}

.icon {
    font-size: 20px;
    margin: 15px;
    padding: 10px 10px;
    color: #ffffff8a;
    border: 1px solid #ffffff8a;
    border-radius: 50%;
    transition: color 1s ease;
    text-decoration: none;
}

.icon:hover {
    background-color: #FFFFFF;
    color: black;

}

.salud {
    font-weight: bold;
}

.descrip-footer {
    color: #FFFFFF;
    max-width: 450px;
    margin-right: 250px;
}

.descrip-footer img {
    width: 50px;
}